.pageLayout {
    display: flex;
    height: 100vh; /* Optional: full screen height */
  }
  
  .sideBar {
    width: 25%;
    background-color: #08543c;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 2rem;
  }
  .heroImage{
    margin-top: 6rem;
    margin-bottom: 6rem;
  }


  .mainContent {
    width: 75%;
    height: 100vh;
    display: flex;
    justify-self: center;
    align-items: center;
    padding: 2rem;
    overflow-y: auto; 
    background-image: url("/USFBackground.jpg");
    background-color: #000000;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  .header {
    margin-bottom: 2rem;
  }
  
  .title {
    font-size: 2rem;
    font-weight: bold;
    color: #ffffff;
    margin-bottom: 0.5rem;
  }

  .logoutButton {
    padding: 0.5rem 1rem;
    background-color: #f3f4f6;
    color: #4b5563;
    font-weight: 500;
    border: none;
    border-radius: 0.375rem;
    cursor: pointer;
    transition: background-color 0.15s ease-in-out;
  }

  .logoutButton:hover {
    background-color: #e5e7eb;
  }
  
  .subtitle {
    color: #fcbb2b;
  }
  
  .grid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 3rem;
  }
  
  @media (min-width: 768px) {
    .grid {
      grid-template-columns: repeat(2, 1fr);
    }
  }
  
  .card {
    display: flex;
    align-items: flex-start;
    gap: 1rem;
    padding: 1.5rem;
    background-color: white;
    border: 1px solid #e5e7eb;
    border-radius: 0.5rem;
    transition: all 0.2s ease-in-out;
  }
  
  .card:hover {
    background-color: #f9fafb;
    transform: translateY(-2px);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.05);
  }
  
  .iconContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 3rem;
    height: 3rem;
    background-color: #f3f4f6;
    border-radius: 0.5rem;
    color: #6b7280;
    flex-shrink: 0;
  }
  
  .cardContent {
    flex: 1;
  }
  
  .cardTitle {
    font-size: 1.25rem;
    font-weight: 600;
    color: #1f2937;
    margin-bottom: 0.25rem;
    transition: color 0.2s ease-in-out;
  }
  
  .card:hover .cardTitle {
    color: #3b82f6;
  }
  
  .cardSubtitle {
    font-size: 0.875rem;
    color: #6b7280;
    margin-bottom: 0.5rem;
  }
  
  .cardDescription {
    color: #4b5563;
    font-size: 0.875rem;
  }
  

  .backLink {
    display: inline-flex;
    align-items: center;
    color: #3b82f6;
    font-weight: 500;
    margin-bottom: 1.5rem;
    text-decoration: none;
  }
  
  .backLink:hover {
    color: #2563eb;
  }
  
  .backIcon {
    margin-right: 0.5rem;
  }


  
  